:root {
  --clr-prm-high: hsl(259, 100%, 65%);
  --clr-prm-err: hsl(0, 100%, 67%);

  --clr-n-100: hsl(0, 0%, 100%);
  --clr-n-200: hsl(0, 0%, 94%);
  --clr-n-300: hsl(0, 0%, 86%);
  --clr-n-400: hsl(0, 1%, 44%);
  --clr-n-500: hsl(0, 0%, 8%);

  --main-fnt: "Poppins"; 
}

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  background-color: var(--clr-n-200);
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--main-fnt), sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  display: flex;
}

.card {
  padding: 2rem .5rem;
  flex-direction: column;
  background-color: var(--clr-n-100);
  border-radius: 2rem;
  border-bottom-right-radius: 7rem;
  max-width: 23rem;
}

.container li {
  flex-direction: column;
}

.card button {
  position:relative;
  left: 50%;
  z-index: 1;
  margin: 2rem auto;
  background-color: var(--clr-prm-high);
  border: none;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  transform: translate(-50%, 0);
}

.card .divider {
  position: relative;
}

.card hr {
  position: absolute;
  margin: 0;
  width: 95%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-color: var(--clr-n-100);
}

.card button svg {
  max-width: 50%;
}

.card button svg path {
  stroke-width: 4px;
}

.card button:hover {
  transition-property: background-color;
  transition-duration: .5s;
  background-color: var(--clr-n-500);
}

.container .results {
  flex-direction: column;
  text-align: left;
  line-height: 3.5rem;
  margin: 1rem auto;
  font-style: italic;
  font-size: 3rem;
  font-weight: 800;
}

.results span {
  color: var(--clr-prm-high);
}

form .container li label{
  text-align: left;
  text-transform: uppercase;
  font-weight: 800;
  font-size: .8rem;
  letter-spacing: .2rem;
  color: var(--clr-n-400);
}

form .container li input{
  max-width: 5.5rem;
  height: 3rem;
  border-radius: .5rem;
  border: solid 1px var(--clr-n-300);
  padding: .7em;
  font-weight: 800;
  font-size:large;
}

input:focus {
  transition-property: outline;
  transition-timing-function: ease-in;
  transition-duration: .2s;
  outline: solid 1px var(--clr-prm-high);
}

/* For desktop sized screens */
@media only screen and (min-width: 768px) {
  .card {
    max-width: 50rem;
  }
}